html {
    background-image: url("https://live.staticflickr.com/65535/49058055381_5ac611f040_c.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-x: center;
  }