html {
    background-image: url("https://live.staticflickr.com/65535/49058055381_5ac611f040_c.jpg"), url("https://i.pinimg.com/originals/f4/59/98/f459980b6a50cbfb897a7299ca86dab0.gif");
    background-repeat: no-repeat, repeat;
    background-size: 50%, 40%;
    background-position-x: center, center;
  }

  body {
    height: 900px
  }

  #team {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 30px;
    margin: auto;
    text-align: center;
    background-color: aqua;
    height: 100px;
    width: 900px;
  }

  #dex-list {
    margin: auto;
    margin-top: 140px;
    width: 400px;
    height: 350px;
    border-radius: 25px;
    background-color: chartreuse;
    overflow: scroll;
  }