html {
    background-image: url("https://live.staticflickr.com/65535/49058055381_5ac611f040_c.jpg"), url("https://i.pinimg.com/originals/f4/59/98/f459980b6a50cbfb897a7299ca86dab0.gif");
    background-repeat: no-repeat, repeat;
    background-size: 50%, 40%;
    background-position-x: center, center;
  }

  body {
    height: 900px
  }

  #team {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 30px;
    margin: auto;
    text-align: center;
    background-color: aqua;
    height: 100px;
    width: 900px;
  }

@font-face {
    font-family: digital-7-font;
    src: url(./digital-7.ttf);
}

  #dex-list {
    text-align: center;
    font-family: digital-7-font;
    font-size: xx-large;
    margin: auto;
    margin-top: 140px;
    width: 500px;
    height: 350px;
    border-radius: 25px;
    background-color: chartreuse;
    overflow: scroll;
  }

  #display {
    width: 220px;
    height: 220px;
    margin: auto;
    background-image: url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExM3loZnc3emVzaXJ6YnJqeWw4ajMxYm03YjU2dzR3azJqdDM0djJnZCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/JetkGHNkWrSjKeBNub/giphy.gif');
    background-repeat: no-repeat;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 20px;
    align-content: center;
  }

  #image {
    width: 175px;
    height: 175px;
  }